.wrapper-token{
    background:#F2F5FA;
    height: 100vh;
    overflow: hidden;    
    font-family: 'Roboto', sans-serif;
}
/* common css */
.wrapper-token .mt-2em{
    margin-top: 2em;
}
.wrapper-token .text-uppercase{
    text-transform: uppercase;
}
/* common section ends here */
.wrapper-token .wapper-header{
    background: #173E58;
    padding: 20px 20px;
}
.wrapper-token .wapper-header .logo-text{
    color: #fff;
    font-style: italic;
    font-weight: 400;
    font-size: 2.2em;
    margin-bottom: 0px;
    letter-spacing: 0px;
}
.wrapper-token .card-token{
    border-radius: 20px;
    background: #fff;
}
.wrapper-token .main-section{
    padding: 20px;
}
.wrapper-token .card-token.wrapper-current-token{
    width: calc( 100vw - 60% );
    padding: 35px 20px 20px 20px;
    box-shadow: 0px 30px 60px #8a959e4d;
}
.wrapper-token .fnt-current-token {
    font-size: 2.8em;
    color: #333333;
    letter-spacing: 0px;
    font-weight: 300;
}
.wrapper-token .fnt-counter-number {
    font-size: 80px;
    color: #FC4F4F;
    font-weight: bold;
}

.wrapper-token .bg-grey-rounded {
    background: #F2F5FA;
    border-radius: 12px 12px 0px 0px;
}

.wrapper-token .header-text {
    color: #173E58;
    font-size: 1.8em;
    font-weight: bold;
}

.wrapper-token .table-bordered thead th {
    color: #173E58;
    text-transform: uppercase;
    font-size: 1.1em;
    border-color: #EEF2FF;
    padding: 0.75em 1.2em;
}

.wrapper-token .card-token.wrapper-token-list {
    width: calc( 100vw - 50% );
    box-shadow: 0px 30px 60px #8a959e4d;
    padding: 35px 20px 20px 20px;
}

.wrapper-token .table-bordered tbody td {
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    font-size: 1.6em;
    font-weight: 600;
    border-color: #EEF2FF;
    padding: 0.2em 0.8em;
}
.wrapper-token .border-top-bottom-rounded{
    border: 1px solid #EEF2FF;
    border-top: 0px;
    border-bottom-right-radius: 12px;
    padding: 10px;
    border-bottom-left-radius: 12px;
}
.wrapper-token .note-text{
    font-size: 1.4em;
    font-weight: 500;
    color: #333;
}